# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de ambiente
.env

# Diretórios Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Diretórios e arquivos específicos do sistema
.idea/
.vscode/
*.swp
*.swo